:root {
  --pri-clr: #7352a8;
  --sec-clr: #9c80cb;
  --ter-clr: #c4a2fc;
  --uni-clr: rgb(243, 239, 239);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 1rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

.Pcolor {
  background: var(--pri-clr);
}
.Scolor {
  background: var(--sec-clr);
}
.Bcolor {
  background: var(--ter-clr);
}
.bg {
  background: var(--uni-clr);
}
.btn {
  background: white;
  color: black;
}
.btn:hover,
.btn:focus,
.btn:active{
  border:2px solid var(--pri-clr);
}

.bold {
  font-weight: bold;
  margin-right: 0.5rem;
}

/**************************************************
    * INDEX PAGE*
***************************************************/
/*NavBar*/
.navbar img {
  background: white;
  padding: 0.5rem;
  height: 4rem;
  border-radius: 50%;
}

.navbar-nav li a:hover,
.navbar-brand_custom:hover {
  color: #fff !important;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
  
}

.dropdown-menu a {
  color: black;
  padding: 1rem;
  text-decoration: none;
  display: flex !important;
}

.dropdown-menu a:hover {
  background-color: var(--pri-clr) !important;
}

/*Carousel*/
.carousel-indicators > li {
  border: 4px solid purple;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
}
.carousel p,
.carousel h5,
.carousel h2 {
  font-weight: bold;
  display: table;
  color: purple;
  background: #fff;
  border-radius: 0.8rem;
  padding: 0.2rem 1rem;
  margin: 0px auto 5px auto;
}
.carousel-tags {
  margin-bottom: 30vh;
  font-weight: bold;
}
.carousel .btn {
  padding: 1rem;
  background: var(--sec-clr) !important;
  border: 2px solid white;
  border-radius: 1.5rem;
}
.carousel .btn:hover {
  background: var(--pri-clr) !important;
}
.carousel img {
  height: 90vh;
}

/*SECTION ONE*/
.video-wrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-wrapper iframe {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
}
.one {
  margin-bottom: 1rem;
}

/*SECTION TWO*/
.card-text {
  font-size: 1rem;
}
.card-title {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.Two .card-title {
  color: #fff;
}
.card-group {
  border-bottom: 4px solid white;
}

/*SERVICE SECTION*/
.services {
  width: 100%;
  height: 100%;
  background-image: url("../images/Doctor1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.services-links {
  display: flex;
  flex-wrap: wrap;
  direction: row;
  justify-content: center;
  margin-top: 2rem;
}
.services-links img {
  height: 4rem;
}

.services-links a {
  background-color: #d6dfec;
  height: 8rem;
  width: 8rem;
  display: block;
  text-align: center;
  margin: 0.4rem;
  padding: 1rem;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

.services-links a:hover {
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border-right: 2px solid purple;
  border-left: 2px solid purple;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  color: white;
}

/*FOOTER*/
.deep-purple {
  border-bottom: 2px solid var(--pri-clr);
  width: 60px;
  display: inline-block;
}

.page-footer {
  background: #333;
  color: #fff;
  font-size: 0.8rem;
}

.footer-connect {
  background: var(--pri-clr);
}
.page-footer i {
  margin-top: 0.2rem;
}
.page-footer a {
  display: inline-flex;
}

.page-footer i,
.page-footer a {
  color: #fff;
  text-decoration: none;
}

.page-footer i:hover,
.page-footer a:hover {
  color: var(--pri-clr);
}

.page-footer img {
  background: white;
  padding: 1rem;
  height: 6rem;
}
.page-footer .btn {
  background: #98acca;
  color: #fff;
}
.page-footer .btn:hover {
  background: #3b5998;
  color: #fff;
}
.footer-copyright {
  background: rgb(78, 77, 77);
}

/*FOOTER SOCIAL MEDIA ICONS */
ul .social-network {
  list-style: none;
  display: inline;
  margin: auto;
}

ul li {
  display: inline;
  margin: 0 10px;
}

/*  social icons over color*/
a.icoFacebook:hover {
  background-color: #3b5998;
}
a.icoTwitter:hover {
  background-color: #33ccff;
}

a.icoInstagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.social-circle a {
  background-color: #bacde9;
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
}

.social-circle li i {
  margin: 0;
  line-height: 40px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s;
  font-size: 22px;
}

.social-circle i {
  color: #fff;
  transition: all 0.8s;
}

/**************************************************
    * ABOUT US*
***************************************************/
.signature {
  width: 30%;
  font-weight: bold;
  margin-top: 4rem;
}
hr {
  width: 100%;
}

.links a {
  background-color: rgb(235, 230, 230);
  margin-top: 0.5rem;
  display: inline-flex;
  color: black;
  width: 100%;
}
.links a:hover {
  background-color:var(--pri-clr);
}
.links i {
  margin-top: 0.2rem;
}
.abtUs :nth-child(2){
  border-radius: 10px;
}
.abtUs li {
  line-height: 1.8;
  margin: 1rem;
}

.contact-map .bg {
  padding: 2rem;
}

/**************************************************
    * STAFF *
***************************************************/
.active-div {
  height: 20rem;
  width: 100%;
  text-align: center;
  position: relative;
}

.menu-div {
  height: 80%;
  width: 80%;
  background: rgba(124, 81, 145, 0.75);
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 2rem;
  display: none;
}

.card img {
  height: 100%;
  width: 100%;
}

.r {
  margin-bottom: 2rem;
}

.doctors {
  margin-top: 2rem;
}
.doctors a {
  color: #fff;
  font-size: 1.2rem;
}

/**************************************************
    * CLINICAL SERVICES*
***************************************************/

.clinicalServices {
  margin: auto;
}

.clinicalServices .text-center h6 {
  font-size: 2rem;
}
.clinicalServices .text-center hr {
  size: 6rem;
}

.clinicalServices img {
  height: 21rem;
  width: 70%;
  margin-bottom: 1.5rem;
}
.clinicalServices {
  margin-top: 1rem;
}
.clinicalServices .service-nav {
  margin-bottom: 2rem;

}

.clinicalServices .service-item {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border: 2px solid white;
  background: var(--pri-clr);
  text-align: center;
}

.service-container {
  width: 30rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  display: none;
}

.service-container li {
  margin-left: 1rem;
}

/**************************************************
    *BLOG PAGE*
***************************************************/
.blog {
  margin-top: 3rem;
 
}

.blog-heading {
  background-image: linear-gradient(white, var(--sec-clr));
  border-bottom: solid 2px var(--pri-clr);
  background-size: cover;
}
.blog-heading h1 {
  font-weight: bold;
  padding: 2rem;
}
.blog .card {
  box-shadow: 1px 1px 10px 1px rgb(189, 184, 184);
}
.searchbar {
  position: relative;
}
.searchbar input {
  padding: 0.5rem;
  border-radius: 1rem;
}
.searchbar i {
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translatey(-50%);
  padding: 0.5rem;
}
.searchbar ::placeholder {
  padding-left: 1rem;
}
.keyword i {
  font-size: 0.8rem;
}
.keyword a {
  text-decoration: none;
}

/**************************************************
    *CONTACT PAGE*
***************************************************/
.upper-contacts {
  text-align: center;
}
.upper-contacts h4 {
  font-size: 1.2rem;
}
.upper-contacts i {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid purple;
}
.upper-contacts p {
  font-size: 0.7rem;
}

.counters {
  text-align: center;
}
.counters i {
  font-size: 2rem;
  padding-top: 0.7rem;
}
.counters p {
  font-size: 0.7rem;
}

.contact-map .row {
  margin: 4rem 0;
}
.contact-map .map {
  margin-bottom: 1.5rem;
}
.contact-form {
  width: 100%;
  margin-bottom: 1.5rem;
}

.contact-map form {
  border: 2px solid;
  height: auto;
}
.contact-form form {
  color: black;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
.contact-form input {
  width: 90%;
  margin: 0.5rem;
  padding: 0.3rem;
}
.contact-form ::placeholder {
  font-size: 0.8rem;
  padding: 1rem;
}
.contact-form textarea {
  width: 90%;
  height: 6rem;
  resize: none;
}
.contact-form .btn {
  background: rgb(92, 123, 224);
  color: #fff;
}

/**************************************************
    *F A Q* 
***************************************************/
.FAQ-form {
  margin: 2rem;
}
.FAQ-map {
  width: 40%;
}
.FAQ-map .btn {
  margin: 1rem;
}
.FAQ {
  margin-top: 3rem;
}
.accordion .card-body {
  margin-left: 0.8rem;
}

/**************************************************
    * PATIENTS AND VISITORS*
***************************************************/
.bookings {
  background-color: var(--ter-clr);
  padding: 4rem;
  margin: 1rem 0;
}

.bookings form {
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.bookings textarea {
  height: 6rem;
  resize: none;
}
.bookings i {
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

/**************************************************
    *FACILITY HUB*
***************************************************/
.facility-hub img {
  height: 20rem;
}

.video-section {
  display: flex;
  width: 100%;
}

.played-video {
  width: 100%;
  height: 100%;
}

/**************************************************
    * @media queries *
***************************************************/

@media only screen and (max-width: 992px) {
  /**************************************************
    * Index *
***************************************************/

  /*Carousel*/
  .carousel .btn {
    padding: 1rem;
    background: var(--sec-clr);
    border: 2px solid white;
    border-radius: 1.5rem;
  }

  .carousel img {
    height: 80vh;
  }

  /*CLINICAL SERVICES*/
  .clinicalServices img {
    width: 100%;
  }

  /**************************************************
    * ABOUT US*
***************************************************/
  .FAQ-map .btn {
    margin: 1rem;
  }
  .FAQ-map {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
    /**************************************************
    * ABOUT US*
    ***************************************************/

    .dis {
      display: none;
    }
    .services {
      background-image: url("../images/Doctor1.png");
      background-position: 20% 50%;
      background-size: 140vh;
    }
    .services-links img {
      height: 2.5rem;
    }

    .services-links a {
      background-color: #d6dfec;
      height: 6rem;
      width: 6rem;
    }

    .services-links li p {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 500px) {
    /**************************************************
    * Index *
***************************************************/
    /*NavBar*/
    .navbar img {
      height: 3.5rem;
    }

    
    /*Carousel*/
    .carousel .btn {
      padding: 0.5rem;
    }

    .carousel img {
      height: 60vh;
    }
    .carousel-tags {
      margin-bottom: 20vh;
    }
    .carousel p,
    .carousel h5,
    .carousel h2 {
      font-size: 0.8rem;
    }

    /*SERVICE SECTION*/

    ul .social-network li {
      margin: 0 5px;
    }
    .social-circle li a {
      font-size: 16px;
    }

    /*CLINICAL SERVICES*/
    .clinicalServices .service-nav {
      width: 100%;
      text-align: center;
    }

    .service-container {
      width: 200px;
      margin-left: 0;
    }

    .service-container li {
      margin-left: 1rem;
    }

    .clinicalServices img {
      height: 100%;
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  /**************************************************
    *BLOG PAGE*
***************************************************/
  .blog {
    margin-top: 1.5rem;
  }

  .blog-heading h1 {
    padding: 1.5rem;
  }

  @media screen and (max-width: 380px) {
    /**************************************************
    * Index *
***************************************************/
    /*NavBar*/
    .navbar img {
      height: 3rem;
    }

    /*Carousel*/
    .carousel .btn {
      padding: 0.3rem;
      font-size: 0.5rem;
    }

    .carousel img {
      height: 50vh;
    }
    .carousel-tags {
      margin-bottom: 10vh;
    }
    .carousel p,
    .carousel h5,
    .carousel h2 {
      font-size: 0.5rem;
    }

    /*SERVICE SECTION*/

    .services {
      background-image: url("../images/Doctor1.png");
    }

    .services-links img {
      height: 2rem;
    }

    .services-links a {
      background-color: #d6dfec;
      height: 4rem;
      width: 4rem;
      padding: 0.5rem;
      border-radius: 20%;
    }

    .services-links li p {
      font-size: 0.5rem;
    }

    ul .social-network li {
      margin: 0 2px;
    }
    .social-circle li a {
      font-size: 16px;
    }
  }

  /**************************************************
    * ABOUT US*
***************************************************/
  .signature {
    width: 40%;
  }
  .abtUs {
    margin-bottom: 0.5rem;
  }

  /**************************************************
    *BLOG PAGE*
  ***************************************************/
  .blog-heading h1 {
    text-align: center;
  }

}
