.clinicalServices{
    margin-bottom: 2rem;
}
   
.clinicalServices img{
     height:21rem;
     width:70%;
     margin-bottom: 2rem;
}
.clinicalServices {
    margin-top: 1rem;
}  
.clinicalServices .service-nav{
    margin-bottom: 2rem;
  }


.clinicalServices .service-item{
    position: relative;
    color: white;
    text-decoration: none;
    padding:1rem;
    border: 2px solid white;
    background:  #7352a8;
    text-align: center;
}
   
.clinicalServices .service-item:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: all 500ms;
}
   
   .clinicalServices .service-item .current {
       color: black;
   }	
   
   .clinicalServices .service-item .current	:before {
       width: 100%;
   }
   
   .service-container {
       width: 30rem;
       margin-left: 1.5rem;
       margin-bottom:2rem ;
   }

   .service-container  {
     display: none;
   }

   .service-container li{
    margin-left: 1rem;
   }

   @media only screen and (max-width: 992px) {
    .clinicalServices img{
        width:100%;
   }

}

   @media screen and (max-width: 500px) {

    .clinicalServices .service-nav{
      width: 100%;
      text-align: center;
    }

    .service-container {
        width: 200px;
        margin-left: 0;
    }

    .service-container li{
        margin-left: 1rem;
    }


    .clinicalServices img{
        height:100%;
        width:100%;
        margin-bottom: 2rem;
   }
}

#redBox{
  height: 200px;
  width:200px;
  color:white;
  background:red;
  margin: auto;
}


/*
.clinicalServices{
    margin-bottom: 2rem;
   }
   
   .clinicalServices a{
     width:100%;
     padding:1rem;
     border:  2px solid white;
     background:  #7352a8;
   }
   
   .clinicalServices img{
     height: 20rem;
     width:20rem;
   }
   
   .clinicalServices #main{
     display: flex;
       flex-flow: row wrap;
       justify-content: center;
       width: 100%;
       max-width: 1200px;
     padding: 20px;
       margin: 0 auto;
   }
   .clinicalServices .service-nav{
     display: flex;
       flex-direction: column;
       flex: 0 0 auto;
       padding: 10px 20px;
       margin-top: 40px;
     margin: 40px auto 0 0;
   
   }
   .clinicalServices .service-item{
       position: relative;
       padding: 0 5px;
       margin: 0 5px;
       font-size: 1.5em;
       font-weight: 700;
       color: grey;
       text-decoration: none;
     line-height: 1.5;
   }
   
   .clinicalServices .service-item:before{
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0;
     height: 2px;
     background: grey;
     transition: all 500ms;
   }
   
   .clinicalServices .service-item .current {
       color: black;
   }	
   
   .clinicalServices .service-item .current	:before {
       width: 100%;
   }
   
   .service-container {
       flex: 1 1 300px;
       padding: 40px;
       border: 1px solid black;
     border-radius: 5px;
   }
   
   .service-container  {
     display: none;
   }

   */